In [ ]:
%%sh
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql17

In [ ]:
!apt install unixodbc-dev
!pip install pyodbc

In [ ]:
import requests, six
import lxml.html as lh
from itertools import cycle, islice
from matplotlib import colors
import pandas as pd
import matplotlib.pyplot as plt
import pyodbc
%matplotlib inline

## Web Scraping

Extract the data from the website

In [ ]:
def web_scraping(key_words, years):

  final_df = []  
  
  for word in key_words:
    for year in years:
      a = word.split(" ")[0]
      b = word.split(" ")[1]

      url = "https://h1bdata.info/index.php?em=&job=" + a + "+" + b + "&city=&year=" + str(year) # URL to scrape data

      # Create a handle, page, to handle the contents of the website
      page = requests.get(url)

      # Store the contents of the website
      doc = lh.fromstring(page.content)

      # Parse data that are stored between <tr>.. </tr> tags
      tr_elements = doc.xpath('//tr')

      col = []
      i = 0

      for t in tr_elements[0]:
        i += 1
        name = t.text_content()
        # print(i, ".", name)
        col.append((name, []))  

      for j in range(1, len(tr_elements)):
        # T is our j'th row
        T = tr_elements[j]

        # Check if all the columns are present and add only that data
        if len(T) != 7:
          break
  
        # Ro
        i = 0

        for t in T.iterchildren():
          data = t.text_content()
          if i > 0:

            try:
              data = int(data)
            except:
              pass

          col[i][1].append(data)

          i += 1

      Dict = {title:column for (title, column) in col}
      df = pd.DataFrame(Dict)

      final_df.append(df)

  return pd.concat(final_df)

In [ ]:
key_words = ["Data Analyst", "Business Analyst", "Data Scientist", "Data Engineer"] # Job Roles to scrape
years = [2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020] # Years you want to scrape
data = web_scraping(key_words, years)

In [ ]:
data = data.reset_index().drop(columns = "index")

In [ ]:
data[['CITY', 'STATE', "r1"]] = data.LOCATION.str.split(", ", expand = True) # Expanding the location to state and city

In [ ]:
noise = {'NY': 'NY',
         'AR': 'AR',
         'MA': 'MA',
         'MD': 'MD',
         'CA': 'CA',
         'TX': 'TX',
         'VT': 'VT',
         'WA': 'WA',
         'WI': 'WI',
         'IL': 'IL',
         'GA': 'GA',
         'FL': 'FL',
         'MI': 'MI',
         'VA': 'VA',
         'PA': 'PA',
         'NE': 'NE',
         'NC': 'NC',
         'DC': 'DC',
         'OH': 'OH',
         'MN': 'MN',
         'IN': 'IN',
         'CO': 'CO',
         'CT': 'CT',
         'NJ': 'NJ',
         'TN': 'TN',
         'IA': 'IA',
         'MO': 'MO',
         'LA': 'LA',
         'SC': 'SC',
         'OK': 'OK',
         'PR': 'PR',
         'AZ': 'AZ',
         'AL': 'AL',
         'SAN RAMON,': 'CA',
         'DE': 'DE',
         'KY': 'KY',
         'NV': 'NV',
         'OR': 'OR',
         'KS': 'KS',
         'NH': 'NH',
         'MS': 'MS',
         'HI': 'HI',
         'CA 95134': 'CA',
         'UT': 'UT',
         'RI': 'RI',
         'NM': 'NM',
         'WY': 'WY',
         'ND': 'ND',
         'ME': 'ME',
         'ATLANTA': 'GA',
         'SD': 'SD',
         'MT': 'MT',
         'D.C.': 'DC',
         'WV': 'WV',
         'ID': 'ID',
         'MINNEAPOLIS': 'MN',
         'VI': 'VI',
         '': 'IN',
         'AK': 'AK',
         'ETS DRIVE': 'NJ',
         'MO 63105': 'MO',
         'WASHINGTON': 'WA',
         'DC 20006': 'DC',
         'IL 60654': 'IL'}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Cleaning the data
data["STATE"] = data["STATE"].map(noise)
data = data.drop(columns = 'r1')
data['CITY'] = data.CITY.str.replace(",", "")
data = data.drop(columns = 'LOCATION')
data['BASE SALARY'] = data['BASE SALARY'].str.replace(",", "")
data['BASE SALARY'] = data['BASE SALARY'].astype(int)
data.head()

                                      EMPLOYER  ... STATE
0                                    VENIO LLC  ...    NY
1  GENERAL DYNAMICS INFORMATION TECHNOLOGY INC  ...    AR
2                          CATALYST ONLINE LLC  ...    MA
3                                 INOVALON INC  ...    MD
4                                   INTUIT INC  ...    CA

[5 rows x 8 columns]

In [ ]:
data.head()

                                      EMPLOYER  ... STATE
0                                    VENIO LLC  ...    NY
1  GENERAL DYNAMICS INFORMATION TECHNOLOGY INC  ...    AR
2                          CATALYST ONLINE LLC  ...    MA
3                                 INOVALON INC  ...    MD
4                                   INTUIT INC  ...    CA

[5 rows x 8 columns]

In [ ]:
data['ID'] = data.index + 1 # Adding the ID to the data
data.columns = ['EMPLOYER', 'JOBTITLE', 'BASE_SALARY', 'SUBMIT_DATE', 'STARTING_DATE',
                'CASE_STATE', 'CITY', 'STATE', 'ID'] # Renaming the columns

In [ ]:
# Push the data into the server
def insert_to_db():
  server = 'SERVER_NAME'
  database = 'DATABASE_NAME'    
  username = 'USERNAME'    
  password = 'PASSWORD'

  conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)    
  cursor = conn.cursor()

  for index, row in data.iterrows():
    cursor.execute("INSERT INTO dbo.Ganapathy_Employment_data (ID, EMPLOYER, BASE_SALARY, SUBMIT_DATE, STARTING_DATE, CASE_STATE, CITY, STATE) VALUES(?,?,?,?,?,?,?,?)",
                   row.ID, row.EMPLOYER, row.BASE_SALARY, row.SUBMIT_DATE, row.STARTING_DATE, row.CASE_STATE, row.CITY, row.STATE)
  
  conn.commit()
  conn.close()

In [ ]:
insert_to_db()

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
!jupyter notebook --notebook-dir='/Content/drive/MyDrive/Colab Notebooks/'

The Jupyter HTML Notebook.

This launches a Tornado based HTML Notebook Server that serves up an
HTML5/Javascript Notebook client.

Subcommands
-----------

Subcommands are launched as `jupyter-notebook cmd [args]`. For information on
using subcommand 'cmd', do: `jupyter-notebook cmd -h`.

stop
    Stop currently running notebook server for a given port
password
    Set a password for the notebook server.
list
    List currently running notebook servers.

Options
-------

Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.

--script
    DEPRECATED, IGNORED
--pylab
    DISABLED: use %pylab or %matplotlib in the notebook to enable matplotlib.
--debug
    set log level to logging.DEBUG (maximize logging output)
--no-browser
    Don't open the notebook in a browser after startup.
--allow-root
    Allow the notebook to be run from root user.
-y
    Answer yes to any questions instead of prompting.
--no-mathjax
    Disable MathJax

    MathJax is the javascript library Jupyter uses to render math/LaTeX. It is
    very large, so you may want to disable it if you have a slow internet
    connection, or for offline use of the notebook.

    When disabled, equations etc. will appear as their untransformed TeX source.
--no-script
    DEPRECATED, IGNORED
--generate-config
    generate default config file
--certfile=<Unicode> (NotebookApp.certfile)
    Default: u''
    The full path to an SSL/TLS certificate file.
--ip=<Unicode> (NotebookApp.ip)
    Default: 'localhost'
    The IP address the notebook server will listen on.
--pylab=<Unicode> (NotebookApp.pylab)
    Default: 'disabled'
    DISABLED: use %pylab or %matplotlib in the notebook to enable matplotlib.
--log-level=<Enum> (Application.log_level)
    Default: 30
    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')
    Set the log level by value or name.
--port-retries=<Integer> (NotebookApp.port_retries)
    Default: 50
    The number of additional ports to try if the specified port is not
    available.
--notebook-dir=<Unicode> (NotebookApp.notebook_dir)
    Default: u''
    The directory to use for notebooks and kernels.
--keyfile=<Unicode> (NotebookApp.keyfile)
    Default: u''
    The full path to a private key file for usage with SSL/TLS.
--client-ca=<Unicode> (NotebookApp.client_ca)
    Default: u''
    The full path to a certificate authority certificate for SSL/TLS client
    authentication.
--config=<Unicode> (JupyterApp.config_file)
    Default: u''
    Full path of a config file.
--port=<Integer> (NotebookApp.port)
    Default: 8888
    The port the notebook server will listen on.
--transport=<CaselessStrEnum> (KernelManager.transport)
    Default: 'tcp'
    Choices: [u'tcp', u'ipc']
--browser=<Unicode> (NotebookApp.browser)
    Default: u''
    Specify what command to use to invoke a web browser when opening the
    notebook. If not specified, the default browser will be determined by the
    `webbrowser` standard library module, which allows setting of the BROWSER
    environment variable to override it.

To see all available configurables, use `--help-all`

Examples
--------

    jupyter notebook                       # start the notebook
    jupyter notebook --certfile=mycert.pem # use SSL/TLS certificate
    jupyter notebook password              # enter a password to protect the server

[C 05:53:27.448 NotebookApp] Bad config encountered during initialization:
[C 05:53:27.448 NotebookApp] No such notebook dir: 'u'/Content/drive/MyDrive/Colab Notebooks''